:root {
  --white: #d5d8dc;
  --blue: #154360;
  --gray: #5d6d7e;
  --box-shadow-Color: #aed6f1;
  --btnBlue: #2980b9;
  --btnGreen: #27ae60;
  --btnRed: #cb4335;
  --btnPurple: #af7ac5;
}
body {
  margin: 0;
  padding: 0;
  font-family: vazir;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: orange;
  background: var(--gray);
}
.timer {
  width: 300px;
  height: 100px;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--box-shadow-Color);
  align-items: center;
  justify-content: center;
  display: flex;
  background: var(--blue);
  color: orange;
  margin-bottom: 50px;
}
.btn {
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-family: lalezar;
  color: var(--white);
  border-radius: 5px;
  border: 0;
}
.btn:hover {
  font-size: 22px;
  box-shadow: 0 0 10px var(--box-shadow-Color);
}
.btnChange {
  margin: 5px;
  background: var(--btnBlue);
}
.btnStart {
  margin: 5px;
  background: var(--btnGreen);
}
.btnStop {
  margin: 5px;
  background: var(--btnRed);
}
.btnReset {
  margin: 5px;
  background: var(--btnPurple);
}
